html {
  background-color: black;
  font-family: 'Arial', sans-serif; /* Set a global font here */

  p, h1, h2, h3, h4, h5, h6 {
    color: #a17c3f;
  }

  @media (max-width: 2080px) {
    table {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 1200px) {
    table {
      font-size: 1.0rem;
    }
  }

  @media (max-width: 700px) {
    table {
      font-size: 0.8rem;
    }
  }
}
