.tradingview-widget-container {
  user-select: none;
  box-sizing: border-box;
  display: block;
  height: 100%;
  width: 100%;
  padding-right: 10px;
}

.spin {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}


.gold-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  border-top: 1px solid #f2f2f2;
}

.disable-iframe {
  position: relative;
}

.disable-iframe::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.border-right {
  border-right: 1px solid #f2f2f2;
}

.product-list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-between;
}

.carousel-container {
  width: 100%;
  height: 500px; // Adjust the height as needed

  .carousel-item {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover; // This will ensure that the image covers the entire space of the carousel item
    }
  }
}

.sort {
  width: 200px;
  margin-right: 10px;
}
