.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;

  .table {
    width: 50%;
  }
}

.table :global {
  .ant-table {
    background-color: #000 !important;
    color: #a17c3f !important;
  }

  .ant-table-thead > tr > th {
    background-color: #111 !important;
    color: #a17c3f !important;
  }

  .ant-table-tbody > tr > td {
    background-color: #000 !important;
    color: #a17c3f !important;
  }

  .ant-table-cell {
    color: #a17c3f !important;
  }
}
